<div class="container justify-content-center align-items-center mt-5 d-none ">
  <span>
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="btn btn-info btn-sm p-2 text-light fw-bold">Previous</a>
    {% endif %}

    <span class="text-secondary fw-bold p-2">
      Page {{ page.number}} of {{ page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="btn btn-info btn-sm p-2 text-light
    fw-bold">
      Next
    </a>
    {% endif %}
  </span>
</div>